.contact {
    text-align: center;
    
}
/* .both{
    margin-right: 40px; 
    margin-left: 20px;
} */
.contactushfour{
    font-family: Crimson Text;
font-weight: 700;
font-size: 40px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;

}
.contactuspara {
        margin-left: 30px;
        font-family: Work Sans;
        font-weight: 400;
        font-size: 25px;
        line-height: 125%;
        letter-spacing: 0px;
        text-align: center;
        margin-top: -30px;
}
.contactinfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
 /* input{
    width: 50%;
    margin-right: 30px;
} */

.input {
    background-color: whitesmoke;
    border-radius: 3px;
    border: 1px;
    background: #EEEEEE;
    border: 1px solid #000000;
    padding-top: 10px;
    padding-right: 140px;
    display: flex;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}
label {
    margin-left: 20px;
    padding-top: 10px;
    

}
.contactusbutton {
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-right: 50px;
    width: 275px;
}
.messageinput {
    padding-bottom: 100px;
}
@media  (min-width:768px) {

    .contactuspara {
        margin-left: 230px;
    }

    .contactinfo label {
        margin-left: 20px;
    }
    input {
        padding-left: 200px;
        width: 70%;
        margin-left: 20px;
    }
    .contactusbutton {
        width: 95%;
        margin-left: 20px;
        
        
    }
    .contactushfour{
    font-family: Crimson Text;
font-weight: 700;
font-size: 40px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;

}
.contactuspara {
        margin-left: 30px;
        font-family: Work Sans;
        font-weight: 400;
        font-size: 25px;
        line-height: 125%;
        letter-spacing: 0px;
        text-align: center;
        margin-top: -30px;
}

}

@media (min-width: 1024px) {
    .both {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: center;
    }
    input {
        padding-left: 300px;
        margin-right: 0px;
    }
    .contactuspara {
        margin-left: 30px;
        font-family: Work Sans;
        font-weight: 400;
        font-size: 30px;
        line-height: 125%;
        letter-spacing: 0px;
        text-align: center;
        margin-top: -30px;
}
    .contactusbutton {
        width: 97%;   
    }
    .contactushfour{
    font-family: Crimson Text;
font-weight: 700;
font-size: 40px;
line-height: 125%;
letter-spacing: 0px;
text-align: center;

}

.geolocation {
    width: 70%;
}

form {
    width: 75%;
}
}
